@tailwind base;
@tailwind components;
@tailwind utilities;

@layer grid {
    .layout-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-auto-rows: 15px;
    }

    .image {
        background-color: red;
        border-radius: 16px;
    }
}

@layer ratio {
    .ratio-0_5625 {
        grid-row-end: span 45;
    }
}